Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -*-braces-around-statements,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -*-magic-numbers,
  -*-macro-to-enum,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -*-no-array-decay,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-implicit-bool-conversion,

WarningsAsErrors: '*'

CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
